body {
    display: flex;
    flex-direction: column;
}

content {
    flex:1;
}

header {
    display: flex;
}

.image-placeholder {
    height: 170px;
    width: 350px;
    background-color: lightgrey;
}